{% extends "base.html" %}

{% block content %}
<h1>Characters</h1>

{% if hasChars %}
{% for c in characters %}
<div class="col-1">
    <div class="character">
        <div>
            <h3>UUID: {{c.uuid}}</h3>
        </div>
        <div>
            <p><strong>TwitchID:</strong> {{c.twitchid}}</p>
            <p><strong>Cookies:</strong> {{c.credits}}</p>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<div class="col-1">
    <p>No characters available</p>
</div>
{% endif %}
{% endblock %}