{% extends "base.html" %}

{% block content %}
<h2>Characters</h2>

{% if hasChars %}
<div class="char-container">
    <div>
        <h3>Online Characters ({{range}}/{{all}})</h3>
        {% for c in characters %}
        <div class="character {% if c.is_supporter %}supporter{% endif %}">
            <a href="/characters/view/{{c.uuid}}">
                <span><strong>TwitchID:</strong> {{c.twitchid}}</span>
            </a>
            <div>
                <button>Blacklist</button>
                <button>Timeout (10 sec)</button>
                <button>Add 5000 cookies</button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% else %}
<div class="col-1">
    <p>No characters available</p>
</div>
{% endif %}
{% endblock %}