<div id="main-nav">
    <nav>
        <ul>
            <li class="default-hover"><a href="/" title="Start page">Start</a></li>
            <li class="default-hover"><a href="/characters" title="Character List">Character List</a></li>
            <li class="default-hover"><a href="#">Blacklist</a></li>
        </ul>
    </nav>
    <nav>
        <ul>
            <li class="default-hover"><a href="#">About</a></li>
            <li class="default-hover"><a href="#">Login</a></li>
        </ul>
    </nav>
</div>